<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rober.daggerhilttutorial">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.rober.daggerhilttutorial.ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rober.daggerhilttutorial.binds.EjemploUserService.UserServiceActivity"></activity>
        <activity android:name="com.rober.daggerhilttutorial.provides.RetrofitActivity" />
        <activity android:name="com.rober.daggerhilttutorial.binds.EjemploDescartado.BotellaActivity" />
        <activity android:name="com.rober.daggerhilttutorial.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>